// TabbedBox.module.scss

.tabbedBox {
  display: flex;
  flex-direction: column;
  // border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 300px;
  background-color: #171515;
}

.tabButtons {
  display: flex;
}

.button {
  padding: 10px;
  flex: 1;
  cursor: pointer;
  border: none;
  outline: none;
  // background-color: #f0f0f0;
  background-color: #262626;
  transition: background-color 0.3s;

  &:hover {
    background-color: #3a3838;
  }
}

.active {
  background-color: #464444;
}

.tabContent {
  padding: 10px;
}
