.firstSection {
  height: 100vh;
  .bgImageCon {
    height: 100vh;
    background-image: url("/bg_image1.svg");

    .heroTextCon {
      width: max-content;
      padding: 10px;
      position: absolute;
      top: 20%;
      left: 10%;

      h4 {
        font-size: 1.5rem;
        font-weight: 600;
      }
      h1 {
        font-size: 3rem;
        font-weight: bolder;
      }
    }
  }
}

.secondSection {
  .secondSectionContent {
    display: flex;
    padding: 40px;
    .secondSectionText {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 2rem;
        font-weight: 600;
        padding: 2vh;
      }
      p {
        font-size: 1rem;
        font-weight: 400;
        padding: 2vh;
        text-align: justify;
      }
    }
    .secondSectionImage {
      padding: 20px;
    }
  }
}

.thirdSection {
  .boxContainer {
    display: flex;
    justify-content: space-evenly;
  }
}
